html {
    height: 100%;
    width: 100%;
}

header {
    height: 75vh;
    background-repeat: no-repeat;
    background-size: 100%;
    color: #fff;
    text-align: center;
    background-image: url('https://storage.googleapis.com/gweb-uniblog-publish-prod/original_images/tenor_1.gif');
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px black (0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: white;
}



.show {
    display: block;
}

section {
    padding: 20px;
}

h2 {
    border-bottom: 10px solid #333;
    padding-bottom: 10px;
}



.avatar {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 47%;
}

.image-container {
    justify-content: space-evenly;
    display: flex;           
  }
  
  .image-container img {
    width: 250px;             
    height: auto;           
  }

body {
    font-family: Arial, sans-serif;
    color: black;
    background-color: darkgray;

}

.borderaround {
    text-align: center;
    border-bottom: 10px solid #333;
    border-top: 10px solid #333;
}

.column {
    float: left;
    width: 33.33%;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  img { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }

  ul{
    text-align: center;
  }